<div class="container-fluid">
	<div class="row">
		<form class="form-inline" role="form">
			<div class="form-group">
				<div class="input-group">
			      <div class="input-group-addon">问题类型</div>
			      <input class="form-control" type="email" placeholder="问题类型">
			    </div>
			</div>
			<div class="form-group">
				<div class="input-group">
			      <div class="input-group-addon">问题标题</div>
			      <input class="form-control" type="email" placeholder="问题标题">
			    </div>
			</div>
			<button type="button" ng-click="model.search()" class="btn btn-primary">查询</button>
		</form>
	</div>
	<div class="row">
		<div class="listcon" st-table="displayCollection" st-pipe="callServer" st-safe-src="columnTab">
		    <table class="table table-striped">
		      <thead>
		        <tr>
		          <th width="" class="text-center"  st-sort="column">问题类型</th>
		          <th width="" class="text-center" st-sort="column">问题标题</th>
		          <th width="" class="text-center" st-sort="column">问题描述</th>
		          <th width="" class="text-center" st-sort="column">反馈人</th>
		          <th width="" class="text-center" st-sort="column">反馈时间</th>
		          <th width="" class="text-center" st-sort="column">回答数</th>
		          <th width="" class="text-center" st-sort="column">操作</th>
		        </tr>
		      </thead>
		      <tbody ng-show="!isLoading">
		        <tr ng-repeat="row in model.rowCollection">
		          <td class="text-center">{{row.domain}}</td>
		          <td class="text-center" >{{row.systemName}}</td>
		          <td class="text-center">{{row.product}}</td>
		          <td class="text-center"></td>
		          <td></td>
		          <td></td>
		          <td class="text-center"><a>查看回答</a></td>
		        </tr>
		      </tbody>
		      <tbody ng-show="model.isLoading">
		        <tr>
		          <td colspan="8" class="text-center loading-indicator">loading...</td>
		        </tr>
		      </tbody>
		    </table>
		    <div class="text-right" ng-show="model.showPagebar">
		      <ul uib-pagination items-per-page="model.page.length" total-items="model.page.totalItems" ng-model="model.page.currentPage" max-size="model.page.length" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="model.search()"></ul>
		    </div>
		  </div>
	</div>
</div>